* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: 'Slabo 27px', serif;
}

body {
	margin: auto;
}

header, footer{
	background-color: #B0BEC5;
}

header, .title, footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 60px; 
}

.ancho {
	width: 80%;
	margin: auto;
}

nav a {
	padding-left: 20px;
	font-weight: 900;
	font-size: 20px;
	color: #000;
}

nav a:hover, footer a:hover {
	color: #536DFE;
	text-decoration: none;
}

.title .redes, .title figure {
	width: 25%;
}

.title .bio {
	width: 50%;
}

h1 {
	color: #81D4FA;
}

.redes {
	text-align: right;
}

.redes a {
	font-size: 2em;
	padding: 0px 10px;
	display: inline-block;
	color: #81D4FA;
}

.redes a:hover {
	color: #536DFE;
}

.perfiles {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin: 30px 0px;
}

.perfiles a{
	text-decoration: none;
}
.box-perfil:hover{
	box-shadow: 2px 2px 5px #999;
}

.box-perfil {
	width: 30%;
	display: flex;
}

figure {
	width: 40%;
	height: auto;
}

figure .foto-perfil {
	width: 100%;
}

.box-perfil div {
	margin-left: 20px;
	display: flex;
	justify-content: center;
	flex-flow: column;
}

.box-perfil div {
	color: #71c6ed;
}
footer{
	bottom:0;
}
footer a{
	color:#000;
}
.correo{
	margin-right: 15px;
}
 .redes-footer a{
 	color:#000;
 	font-size: 2em;
 	padding: 0px 10px;
 }